.ipynb_checkpoints
my_analysis.ipynb
/data/*
/cache/*
*.out
*.dat
*.data
*.csv
*.txt
*.db
*.opendb
*.zip
*.rar
*.gzip
*.tar
*.7z
log*
Debug
Release
bin
*.suo
**/bws_run*
*.mp4
bws
*.o
*.mp4
.DS_Store
